*{
	margin:0;
	padding:0;
}

body{
	background-color:#5b5b5b;
	color:white;
	font-family:Lato;
	font-size:16px;
	line-height:1.6em;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-color:black;
	color:gray;
	min-height:150px;
	padding-top:80px;
}

#main-header h1{
	
}

#navbar{
	position:fixed;
	background-color:white;
	color:black;
	width:100%;
}

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar li{
	list-style: none;
	display: inline-block;
	float: right;
	line-height: 50px;
}

#navbar a{
	color:black;
	text-decoration:none;
	font-size:16px;
	padding:0 18px;
	display: block;

}

#navbar a:hover{
	color:#3d3d3d;
}

#showcase{
	
}

#main-footer{
	margin-top:500px;
	background-color:black;
	color:white;
	min-height:150px;
	padding-top:80px;
}
